# Configuración del Servidor Express
PORT=3000
NODE_ENV=production

# Clave Secreta para Firmado de Tokens JWT (Cambiar en producción)
JWT_SECRET=tu_super_clave_secreta_jwt_2026_aura

# URL de Conexión a Base de Datos PostgreSQL Cloud (Supabase, Neon, Railway, Render)
# Ejemplo: postgresql://postgres:password@db.xxxxxx.supabase.co:5432/postgres?sslmode=require
DATABASE_URL=postgresql://usuario:password@host:5432/nombre_bd?sslmode=require
