# Node dependencies
node_modules/

# Environment variables and credentials
.env
.env.local
.env.production
supabase_credentials.txt

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Archives
*.rar
*.zip

# System & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.tmp
